<% if (typeof title === 'string') { %>
<title><%= title %></title>
<% } else { %>
<title>MyApp</title>
<% } %>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<style>
    body {
        padding: 16px;
    }
</style>