<!DOCTYPE html>
<html>

<head>
    <%- include ('../components/head') %>
</head>

<body>
    <header>
        <%- include ('../components/header') %>
    </header>
    <main>
        <div id="content" class="jumbotron">
            <h1>User List</h1>
            <ul>
                <li><a href="#">User 1</a></li>
            </ul>
        </div>
    </main>
    <footer>
        <%- include ('../components/footer') %>
    </footer>
</body>

</html>